@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.main{
    background-color: #ECF2F8;
    width: 100vw;
    height: 100vh;
    display: grid;
}
.container{
    width: 70%;
    height: 86%;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 4%;
    column-gap: 2%;

}
.item{
    background-color: aqua;
    border-radius: 1rem;
    padding: 6vh;
}
.Danniel{
    background-color: #7541C8;
    background-image: url(./bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;
    grid-column: 1/ span 2;
}
.patrick{
    grid-column: 2/ span 2;
    background-color: #19212E;
}
.kaira{
    grid-row: span 2;
    background-color: white;
}
.walter{
    background-color: #48556A;
}
.harmon{
    background-color: white;
}
.item .profile{
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-bottom: 2.5vh;
}
.item .profile .image img{
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
}
.item .exp{
    margin-bottom: 1.5vh;
}
.fontwhite{
    color: white;
}
.item .profile h4{
    font-size: 13px;
}
.item .profile .tag{
    font-size: 11px;
}
.item .exp {
    font-size: 20px;
}
.item .about{
    font-size: 13px;
}
.opwhite{
    color: #ffffff9e;
}
.opblack{
    color: #00000074;
}